extends layout

block content
  style.
    body{
      background-color: white;
    }
    #draggable{
      width: 150px;
      height: 150px;
      box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.5);
      border: 1px solid rgba(127, 255, 255, 0.25);
    }
  script.
    $('#chat_display').html("");
    $(function(){
      var socket = io();
      var name;

      /*$('#draggable').draggable({
        stop: function(event, ui){
          socket.emit('update', ui.position);
        }
      });*/
      $('#name').keypress(function(e){
        if(e.keyCode == 13){
          if( $('#name').val()!="" ){
            $('#name_click').click();
          }
          else{
            alert("Please enter your name.");
          }
        }
      });

      $('#chat_input').keypress(function(e){
        if(e.keyCode == 13){
          if( $('#chat_input').val()!="" ){
            $('#chat_click').click();
          }
        }
      });

      $('#name_click').click(function(){
        name = $('#name').val();
        $('#chat_display').append("Hello, " + name + ". Welcome to chat ! \n");
        $('#name_title').css('display', 'none');
        $('#name').css('display', 'none');
        $('#name_click').css('display', 'none');

        $('#chat_title').css('display', 'block');
        $('#chat_input').css('display', 'block');
        $('#chat_click').css('display', 'block');
        $('#chat_display').css('display', 'block');
      });

      $('#chat_click').click(function(){
        var user_self = {username:"", input_text:""};
        user_self.username = name;
        user_self.input_text = document.getElementById('chat_input').value;
        socket.emit('chat', user_self);

        // send data to todos
        $.ajax({

          url: "http://140.112.228.146:3000/todos",

          data:{
            name: name,
            completed: "True",
            note: user_self.input_text,
            updated_at: Date.now,
          },
          
          type: "POST",
          
          dataType: "json",

          success: function(){
            console.log("success.");
          },
          
          error: function(){
            console.log("error.");
          },
          
          complete: function() {
            console.log("complete.");
          }

        });
        //$('#chat_display').append(user_self.username + " : ");
        //$('#chat_display').append(user_self.input_text + "<br/>");
        document.getElementById('chat_input').value = "";
      });

      socket.on('update', function(pos){
        $('#draggable').css({'top': pos.top, 'left': pos.left});
      });

      socket.on('chat', function(user){
        $('#chat_display').append( user.username + " : ");
        $('#chat_display').append(user.input_text + "\n");
        document.getElementById('chat_display').scrollTop = document.getElementById('chat_display').scrollHeight;
        //$('#chat_display').html("Hello, Micha<br/>");
        //$('#chat_display').html(string);
        //display.innerHTML += string +"<br/>"
      });
    })
  center
    font(id = 'name_title' style="font-size:20px;") your name:
    input(
      type = 'text'
      id = 'name'
      style="width:200px; height:20px; font-size:15px;"
    )
    input(
      type = 'button'
      id = 'name_click'
      value = 'summit'
      style = "width:100px; height:50px; font-size:50px;"
    )
  center
    textarea(
      id = 'chat_display'
      style="display:none; font-size: 20px;"
      rows="10"
      cols="80" 
    )
    <br/>
    font(id = 'chat_title' style="display:none; font-size:20px;") what you want to say: 
    input(
      id = 'chat_input'
      style="display:none; font-size:20px; overflow:auto; width:820px; height:20px;"
    )
    input(
      type = 'button'
      id = 'chat_click'
      value = 'summit'
      style="display:none; width:100px; height:50px; font-size:50px;"
    )
  <br/>